.mainheader {
    background-color: aquamarine;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-around;  
}

.homeIntroHeader {
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    padding-top: 100pt;
}

.homepageIntro {
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

.picture {
    display: inline-block;
    width: 300px;
    height: 300px;
}

.picture2 {
    display: inline-block;
    width: 200px;
    height: 300px;
}


.aboutSectionHeader {
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    padding-top: 100pt;
}